<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="material-icons md-48">update</div>
    <mat-card-title>Interval Timer</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <mat-select placeholder="Interval Timer">
        <mat-option *ngFor="let intervalTime of intervalTimes" [value]="intervalTime.valueInMs">
          {{intervalTime.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <p></p>
    <mat-form-field>
      <mat-select placeholder="Shutdown Timer">
        <mat-option *ngFor="let shutdownTime of shutdownTimes" [value]="shutdownTime.valueInMs">
          {{shutdownTime.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
  <mat-slide-toggle>Interval active on shutdown</mat-slide-toggle>
  <mat-slide-toggle>Shutdown on second signal</mat-slide-toggle>
  <mat-card-actions>
    <button mat-button>UPDATE SETTINGS</button>
  </mat-card-actions>
</mat-card>
