<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="material-icons md-48">settings</div>
    <mat-card-title style="font-size:20px; font-style:bold">Light Control System</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form #f="ngForm" (ngSubmit)="updateSettings(f.value)">
      <div>
        <mat-form-field>
          <mat-select [(ngModel)]="setting.interval_time" name="interval_time">
            <mat-option *ngFor="let intervalTime of intervalTimes" [value]="intervalTime.valueInMs">
              {{intervalTime.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-select [(ngModel)]="setting.shutdown_time" name="shutdown_time">
            <mat-option *ngFor="let shutdownTime of shutdownTimes" [value]="shutdownTime.valueInMs">
              {{shutdownTime.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-slide-toggle ngModel name="shutdown_with_interval">Interval active on shutdown</mat-slide-toggle>
      <mat-slide-toggle ngModel name="shutdown_on_second_signal" [checked]="setting.shutdown_on_second_signal">Shutdown on
        second signal</mat-slide-toggle>
      <button mat-raised-button>UPDATE SETTINGS</button>
    </form>
  </mat-card-content>
</mat-card>
